ai_bot_n8n/setup_knowledge.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Alihcyv",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "freeCodeCamp-AI-Journey",
          "mode": "name"
        },
        "filePath": "vit_implementation"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -288,
        -192
      ],
      "id": "54122c1e-d2c1-4baa-b1fa-f2332f268f88",
      "name": "List files",
      "webhookId": "356a3749-1c47-4f8a-8739-ed0d2af13bd3",
      "credentials": {
        "githubApi": {
          "id": "CdBns3Ag7Y9qs2dp",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cc24f41-9c05-407d-bcac-a68caa852715",
              "leftValue": "={{ $json.path }}",
              "rightValue": "=\\.(py|md)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -128,
        -192
      ],
      "id": "647a0f8d-e593-4c98-8f9c-f48dde57f257",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "let fullContext = \"Below is the complete source code and documentation for the Vision Transformer (ViT) implementation:\\n\";\n\nfor (const item of $input.all()) {\n  const path = item.json.path || \"unknown_file\";\n  let content = item.json.content || \"\";\n  \n  try {\n    content = Buffer.from(content, 'base64').toString('utf-8');\n  } catch (e) {\n  }\n  \n  fullContext += `\\n\\n--- START OF FILE: ${path} ---\\n${content}\\n--- END OF FILE: ${path} ---\\n`;\n}\n\nreturn { \n  full_project_code: fullContext \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -192
      ],
      "id": "9bb70a94-892b-4862-9bbe-55978f0c76db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "project_knowledge",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "1"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.full_project_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -192
      ],
      "id": "21e4f72d-996c-44d8-8166-6db57cef0e3c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "VH911Q9TjV1W6wPE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Alihcyv",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "freeCodeCamp-AI-Journey",
          "mode": "list",
          "cachedResultName": "freeCodeCamp-AI-Journey",
          "cachedResultUrl": "https://github.com/Alihcyv/freeCodeCamp-AI-Journey"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": "",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        32,
        -192
      ],
      "id": "2e79b1be-b322-4658-b3ec-5a9c3634e916",
      "name": "Get a file",
      "webhookId": "93117901-065a-4dd3-aa71-048f515cdf2b",
      "credentials": {
        "githubApi": {
          "id": "CdBns3Ag7Y9qs2dp",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "List files": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "346628d3-ae82-47db-a33d-57d304daf2de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef3d9a155d60ace533c83730151bf2f200e18a295f69ae7de6d3cb7cda73438"
  },
  "id": "8juYWd0k4Q4gdcPQ",
  "tags": []
}