ai_bot_n8n/vit_export_bot_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transcribe a recording').item?.json?.text || $('Telegram Trigger').item?.json?.message?.text }}",
        "options": {
          "systemMessage": "=\"You are an expert AI Engineer specializing in Computer Vision. Your task is to help the user analyze a specific Vision Transformer (ViT) implementation.\nHere is the project's source code and documentation:\n{{ $node[\"Code in JavaScript\"].json[\"full_project_code\"] }}\nGuidelines: Use the provided code as the primary source of truth. If the answer is not in the code, tell the user honestly.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        944,
        -400
      ],
      "id": "a65e2208-31e5-400c-95fc-eb4bd41ccd1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        -176
      ],
      "id": "82700bcb-c60d-4bc9-b5f7-4ccd0fea1908",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        880,
        -176
      ],
      "id": "91f570df-bf8a-4d96-bf9b-a05afb86884a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -272
      ],
      "id": "81b4e5ab-cc2e-4af9-bdda-a0bfbec862ee",
      "name": "Telegram Trigger",
      "webhookId": "84c2a520-e63f-47c4-afcd-0c88237f5e94",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        480,
        -256
      ],
      "id": "53ded8f9-a401-4e0f-9a97-e4987c6b4d4f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Sorry, I can only process text and voice messages. Please send me a question about the ViT implementation!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -80
      ],
      "id": "ae45db26-0ddf-4f76-afaf-a8654acf5219",
      "name": "Send a text message1",
      "webhookId": "0de879c2-073b-4add-8f10-9fdb96d9423b",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Alihcyv",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "freeCodeCamp-AI-Journey",
          "mode": "name"
        },
        "filePath": "vit_implementation"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        -400
      ],
      "id": "e9a58f74-5e66-433f-9d03-75719fcf4d2e",
      "name": "List files",
      "webhookId": "356a3749-1c47-4f8a-8739-ed0d2af13bd3",
      "credentials": {
        "githubApi": {
          "id": "CdBns3Ag7Y9qs2dp",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Alihcyv",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "freeCodeCamp-AI-Journey",
          "mode": "list",
          "cachedResultName": "freeCodeCamp-AI-Journey",
          "cachedResultUrl": "https://github.com/Alihcyv/freeCodeCamp-AI-Journey"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": "",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        688,
        -400
      ],
      "id": "1c814b61-e763-4963-bd26-4d38dfe8c045",
      "name": "Get a file1",
      "webhookId": "93117901-065a-4dd3-aa71-048f515cdf2b",
      "credentials": {
        "githubApi": {
          "id": "CdBns3Ag7Y9qs2dp",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cc24f41-9c05-407d-bcac-a68caa852715",
              "leftValue": "={{ $json.path }}",
              "rightValue": "=\\.(py|md)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        544,
        -400
      ],
      "id": "30fb4551-b4d6-4d45-8141-73b212f68c1d",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// Initialize the context string with an English introduction\nlet fullContext = \"Below is the complete source code and documentation for the Vision Transformer (ViT) implementation:\\n\";\n\n// Loop through all files received from the previous GitHub node\nfor (const item of $input.all()) {\n  const path = item.json.path || \"unknown_file\";\n  const content = item.json.content || \"\";\n  \n  // Add clear English delimiters for each file\n  fullContext += `\\n\\n--- START OF FILE: ${path} ---\\n`;\n  fullContext += content;\n  fullContext += `\\n--- END OF FILE: ${path} ---\\n`;\n}\n\n// Return a single object containing the aggregated project code\nreturn { \n  full_project_code: fullContext \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -400
      ],
      "id": "3fec1283-d645-49de-9e15-349edc789257",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -400
      ],
      "id": "c8b4cd5f-0f51-4b2c-9b64-3ece45a98a88",
      "name": "Send a text message",
      "webhookId": "293bbc79-29da-41e0-8e83-6bfeb4632fc0",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = { ...$json };\n\nif (item.message && item.message.text) {\n  item.msg_type = 'text';\n} else if (item.message && item.message.voice) {\n  item.msg_type = 'voice';\n} else {\n  item.msg_type = 'other';\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -272
      ],
      "id": "eda4500e-3c7c-47bd-a7fb-6ece464dbf6b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -256
      ],
      "id": "5e06fa4b-a9af-40f6-919f-755d0f9f8f35",
      "name": "Get a file",
      "webhookId": "2936fd03-da1c-42a4-b002-4a5d6c298a6f",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "25af1621-ec31-4b14-bdc6-1653ae1adaef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "46ff8b5e-609e-4a32-baff-7be3d942258e",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -288
      ],
      "id": "409c471a-dd50-4260-8569-30e815f7843b",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6cf2741d-ff42-43af-966d-1c11ca5285bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef3d9a155d60ace533c83730151bf2f200e18a295f69ae7de6d3cb7cda73438"
  },
  "id": "8juYWd0k4Q4gdcPQ",
  "tags": []
}