ai_bot_n8n/vit_export_bot_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_query }}",
        "options": {
          "systemMessage": "=You are a strict Technical Auditor for a specific Vision Transformer (ViT) implementation.\nCRITICAL RULE: Your knowledge is EXCLUSIVELY limited to the provided codebase below. You are FORBIDDEN from using your general training data to answer questions about topics unrelated to this project.\nRESPONSE LOGIC:\nIf the user's question is about the provided code, architecture, or the ViT implementation in this repository \n→\n→\n Answer precisely using the code.\nIf the user's question is about ANY other topic (e.g., pizza, general life, other AI models, or general programming not related to this code) \n→\n→\n You MUST answer exactly: 'I am sorry, but I am an expert only for this specific ViT implementation. This question is outside my scope of knowledge.'\nTIGHT CONSTRAINTS:\nDo not be helpful with general topics.\nDo not attempt to be a general-purpose assistant.\nIf the answer is not explicitly found in the provided code, say 'I don't know' or 'This is not implemented in the current codebase'.\nPROJECT CODEBASE:\n{{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -320
      ],
      "id": "a65e2208-31e5-400c-95fc-eb4bd41ccd1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        -128
      ],
      "id": "82700bcb-c60d-4bc9-b5f7-4ccd0fea1908",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        640,
        -128
      ],
      "id": "91f570df-bf8a-4d96-bf9b-a05afb86884a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        -272
      ],
      "id": "81b4e5ab-cc2e-4af9-bdda-a0bfbec862ee",
      "name": "Telegram Trigger",
      "webhookId": "84c2a520-e63f-47c4-afcd-0c88237f5e94",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        208,
        -224
      ],
      "id": "53ded8f9-a401-4e0f-9a97-e4987c6b4d4f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Sorry, I can only process text and voice messages. Please send me a question about the ViT implementation!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -64
      ],
      "id": "ae45db26-0ddf-4f76-afaf-a8654acf5219",
      "name": "Send a text message1",
      "webhookId": "0de879c2-073b-4add-8f10-9fdb96d9423b",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -320
      ],
      "id": "c8b4cd5f-0f51-4b2c-9b64-3ece45a98a88",
      "name": "Send a text message",
      "webhookId": "293bbc79-29da-41e0-8e83-6bfeb4632fc0",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -224
      ],
      "id": "5e06fa4b-a9af-40f6-919f-755d0f9f8f35",
      "name": "Get a file",
      "webhookId": "2936fd03-da1c-42a4-b002-4a5d6c298a6f",
      "credentials": {
        "telegramApi": {
          "id": "WcxCWpdmz7Aj1NGQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "25af1621-ec31-4b14-bdc6-1653ae1adaef"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "46ff8b5e-609e-4a32-baff-7be3d942258e",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        -288
      ],
      "id": "409c471a-dd50-4260-8569-30e815f7843b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "project_knowledge",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        -416
      ],
      "id": "c81aa68a-2e4f-4fd5-bbd0-a52c8ff46d91",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "VH911Q9TjV1W6wPE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        -320
      ],
      "id": "b8bbd325-1e12-440f-b9b4-d65a62ae7772",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = { ...$json };\n\nif (item.message && item.message.text) {\n  item.msg_type = 'text';\n} else if (item.message && item.message.voice) {\n  item.msg_type = 'voice';\n} else {\n  item.msg_type = 'other';\n}\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -208
      ],
      "id": "eda4500e-3c7c-47bd-a7fb-6ece464dbf6b",
      "name": "Code_1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Создаем единое поле 'user_query', чтобы AI Agent не путался\nif ($json.text) {\n  $json.user_query = $json.text;\n} else if ($json.message && $json.message.text) {\n  $json.user_query = $json.message.text;\n} else {\n  $json.user_query = \"No text provided\";\n}\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -320
      ],
      "id": "07f486bd-cc4d-4216-98a1-69ddf189a004",
      "name": "Code_2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code_2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "06b60e72-fc2f-484a-ab76-9a01f620ab89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef3d9a155d60ace533c83730151bf2f200e18a295f69ae7de6d3cb7cda73438"
  },
  "id": "8juYWd0k4Q4gdcPQ",
  "tags": []
}